<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>score</title>
</head>

<body background="https://www.yugantareduworld.com/gallery/1413530569bg.jpg">
<center><h1>Student's details </h1></center><br><br>


<form action="http://localhost:5000/" method="post">
<center>
    Student Name :  <input type ="text" name='nm' placeholder="Enter Student Name" required><br><br>
    Physics : <input type="text" name='fnum' placeholder="Enter your Physics marks " required><br><br>
    Chemistry : <input type="text" name='snum' placeholder="Enter your Chemistry's marks" required><br><br>
    Mathematics : <input type="text" name='tnum' placeholder="Enter your Math's marks" required><br><br>
    English : <input type="text" name='frnum' placeholder="Enter your English's marks" required><br><br>
    Biology : <input type="text" name='fifnum' placeholder="Enter your Biology's marks" required><br><br>

     <input type="submit">   <input type="reset"> <br><br>
</center>
</form>
</body>
</html>